body {
  margin:8% 8% !important;
}

.text-center {
  text-align: center !important;
}

h3 {
	padding-top: 30px;
}

h4 {
  text-align: center;
  font-size: 18px !important;
}

h5 {
  font-size:14px !important;
  /* line-height: 0 !important; */
  margin-bottom: 3px !important;
  padding-bottom: 0 !important;
}

/* quotes */
h6 {
  color: #005780;
  font-size: 24px !important;
}

a {
  color: #005780 !important;
}
.tab {
  display: inline-block;
  margin-right:20px;
}

.description {
  text-align: center;
  margin-left: 20%;
  margin-right:20%;
}
.bar-chart {
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.toolbar-text {
  /* line-height: 3.5; */
  padding-left: 10px;
  padding-top:2px;
}

.toolbar-text-no-padding {
  line-height: 3.5;
}

.dropdown-button {
  padding-left:10px;
}

#dropdown-button {
  background-color: #005780;
  border-color: #005780;
  
}

#dropdown-button:hover {
  background-color: #0687c4;
  border-color: #0687c4;
}

.navitem{
  padding: 1% 5% 1% 5%;
  /* margin-left:-6px;
  margin-right:-6px;
  background-color: #005780; */
  background-color: white;
  border-radius: 10px;
  /* color: white !important */
}

.navitem:hover {
  background-color: #eeeeee;
  text-decoration: None;
}

button:focus {
  outline: 0 !important;
}

#context {
  /* background-color:black;
  color: white; */
}

.sDot:hover {

  opacity: 80%;

}

.tooltip {
  position: absolute;
  font-size: 12px;
  min-width: 100px;
  padding: 10px;
  width:  auto;
  height: auto;
  pointer-events: none;
  background-color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.bubble {
  background-color: #f0f0f0;
  padding:30px 40px;
  border-radius:10px;
}