body {
  margin:8% 8% !important;
}

.text-center {
  text-align: center !important;
}

h3 {
	padding-top: 30px;
}

h4 {
  text-align: center;
  font-size: 18px !important;
}

.tab {
  display: inline-block;
  margin-right:20px;
}

.bar-chart {
  padding-top: 20px;
  padding-bottom: 20px;
}

.toolbar-text {
  /* line-height: 3.5; */
  padding-left: 10px;
  padding-top:2px;
}

.toolbar-text-no-padding {
  line-height: 3.5;
}

.dropdown-button {
  padding-left:10px;
}

#dropdown-button {
  background-color: #005780;
  border-color: #005780;
  
}

#dropdown-button:hover {
  background-color: #0687c4;
  border-color: #0687c4;
}

.navitem{
  padding: 5% 5% 1% 5%;
  background-color: white;
  border-radius: 10px;
}